# Emoji Sentiment

Are popular emojis generally associated with positive or negative sentiments?

The file `"emoji-sentiment.csv"` provides data on the sentiment associated with various emojis.

Researchers examined 1.6 million tweets across 13 European languages. Each tweet was labeled by annotators as positive (+1), negative (-1), or neutral (0). About 4% of these tweets included emojis.

Columns include:
- `Occurrences [5...max]`: Number of times the emoji appears in the dataset.
- `Position [0...1]`: Average position of the emoji in tweets, from start (0) to end (1).
- `Neg [0...1]`: Percentage of tweets with the emoji that are 'negative'.
- `Neu [0...1]`: Percentage of tweets with the emoji that are 'neutral'.
- `Pos [0...1]`: Percentage of tweets with the emoji that are 'positive'.

In [2]:
# FOR GOOGLE COLAB ONLY.
# Uncomment and run the code below. A dialog will appear to upload files.
# Upload 'emoji-sentiment.csv'.

# from google.colab import files
# uploaded = files.upload()

In [3]:
import pandas as pd
df = pd.read_csv('emoji-sentiment.csv')
df.head(3)

,Char,Image [twemoji],Unicode codepoint,Occurrences [5...max],Position [0...1],Neg [0...1],Neut [0...1],Pos [0...1],Sentiment bar (c.i. 95%),Unicode name,Unicode block
0,üòÇ,üòÇ,0x1f602,14622,0.805,0.247,0.285,0.468,NaN,FACE WITH TEARS OF JOY,Emoticons
1,‚ù§,‚ù§,0x2764,8050,0.747,0.044,0.166,0.790,NaN,HEAVY BLACK HEART,Dingbats
2,‚ô•,‚ô•,0x2665,7144,0.754,0.035,0.272,0.693,NaN,BLACK HEART SUIT,Miscellaneous Symbols

### Project Ideas:

Data Cleaning: 
- Remove unnecessary columns that are not useful for your analysis.

- Rename the remaining columns using `snake_case` (all lowercase letters with underscores between words).

New Variables:
- Add a new column called `sentiment`, where sentiment = (% positive tweets) - (% negative tweets).

- Add a `positive_flag` column that is `True` if `sentiment > 0` (or above a set threshold), otherwise `False`.

Types of questions you can now answer more easily:
- What percentage of emojis in the dataset have a positive sentiment?

- What percentage of the top 20 most popular emojis are positive?

- Which emoji (with more than 500 mentions) is the most positive?

- Which emoji (with more than 500 mentions) is the most negative?

- Where in the tweets are most emojis located (i.e. at the beginning or the end)?

- Is there a difference in the placement of positive versus negative emojis within a tweet?

In [4]:
# YOUR CODE HERE (add additional cells as needed)
df.info()
-df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751 entries, 0 to 750
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Char                      751 non-null    object
 1   Image [twemoji]           751 non-null    object
 2   Unicode codepoint         751 non-null    object
 3   Occurrences [5...max]     751 non-null    int64
 4   Position [0...1]          751 non-null    float64
 5   Neg [0...1]               751 non-null    float64
 6   Neut [0...1]              751 non-null    float64
 7   Pos [0...1]               751 non-null    float64
 8   Sentiment bar (c.i. 95%)  0 non-null      float64
 9   Unicode name              751 non-null    object
 10  Unicode block             751 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 64.7+ KB

,Occurrences [5...max],Position [0...1],Neg [0...1],Neut [0...1],Pos [0...1],Sentiment bar (c.i. 95%)
count,-751.000000,-751.000000,-751.000000,-751.000000,-751.000000,-0.0
mean,-208.331558,-0.665549,-0.163784,-0.388993,-0.447237,NaN
std,-804.865155,-0.164450,-0.137368,-0.181690,-0.186525,NaN
min,-5.000000,-0.012000,-0.006000,-0.014000,-0.007000,NaN
25%,-12.000000,-0.575000,-0.069500,-0.254000,-0.313000,NaN
50%,-33.000000,-0.688000,-0.121000,-0.349000,-0.447000,NaN
75%,-115.000000,-0.789500,-0.209000,-0.500000,-0.595500,NaN
max,-14622.000000,-0.994000,-0.778000,-0.987000,-0.972000,NaN

In [5]:
emoji = df[['Occurrences [5...max]','Position [0...1]','Neg [0...1]','Neut [0...1]','Pos [0...1]']]
emoji

,Occurrences [5...max],Position [0...1],Neg [0...1],Neut [0...1],Pos [0...1]
0,14622,0.805,0.247,0.285,0.468
1,8050,0.747,0.044,0.166,0.790
2,7144,0.754,0.035,0.272,0.693
3,6359,0.765,0.052,0.219,0.729
4,5526,0.803,0.436,0.220,0.343
...,...,...,...,...,...
746,5,0.937,0.125,0.625,0.250
747,5,0.977,0.375,0.375,0.250
748,5,0.971,0.125,0.750,0.125
749,5,0.435,0.125,0.750,0.125
750,5,0.458,0.125,0.750,0.125

In [6]:
new_name={
    'Occurrences [5...max]':'Occurrences',
    'Position [0...1]':'Position',
    'Neg [0...1]':'Neg',
    'Neut [0...1]':'Neut',
    'Pos [0...1]':'Pos'
}

emoji = emoji.rename(columns=new_name)
emoji

     Occurrences  Position    Neg   Neut    Pos
0          14622     0.805  0.247  0.285  0.468
1           8050     0.747  0.044  0.166  0.790
2           7144     0.754  0.035  0.272  0.693
3           6359     0.765  0.052  0.219  0.729
4           5526     0.803  0.436  0.220  0.343
..           ...       ...    ...    ...    ...
746            5     0.937  0.125  0.625  0.250
747            5     0.977  0.375  0.375  0.250
748            5     0.971  0.125  0.750  0.125
749            5     0.435  0.125  0.750  0.125
750            5     0.458  0.125  0.750  0.125

[751 rows x 5 columns]

In [7]:
emoji['Sentiment']=emoji.eval('Pos-Neg')
emoji

     Occurrences  Position    Neg   Neut    Pos  Sentiment
0          14622     0.805  0.247  0.285  0.468      0.221
1           8050     0.747  0.044  0.166  0.790      0.746
2           7144     0.754  0.035  0.272  0.693      0.658
3           6359     0.765  0.052  0.219  0.729      0.677
4           5526     0.803  0.436  0.220  0.343     -0.093
..           ...       ...    ...    ...    ...        ...
746            5     0.937  0.125  0.625  0.250      0.125
747            5     0.977  0.375  0.375  0.250     -0.125
748            5     0.971  0.125  0.750  0.125      0.000
749            5     0.435  0.125  0.750  0.125      0.000
750            5     0.458  0.125  0.750  0.125      0.000

[751 rows x 6 columns]

In [8]:
emoji['positive_flag']=emoji['Sentiment']>0
emoji

     Occurrences  Position    Neg   Neut    Pos  Sentiment  positive_flag
0          14622     0.805  0.247  0.285  0.468      0.221           True
1           8050     0.747  0.044  0.166  0.790      0.746           True
2           7144     0.754  0.035  0.272  0.693      0.658           True
3           6359     0.765  0.052  0.219  0.729      0.677           True
4           5526     0.803  0.436  0.220  0.343     -0.093          False
..           ...       ...    ...    ...    ...        ...            ...
746            5     0.937  0.125  0.625  0.250      0.125           True
747            5     0.977  0.375  0.375  0.250     -0.125          False
748            5     0.971  0.125  0.750  0.125      0.000          False
749            5     0.435  0.125  0.750  0.125      0.000          False
750            5     0.458  0.125  0.750  0.125      0.000          False

[751 rows x 7 columns]

In [9]:
per_pos=emoji['positive_flag'].mean()*100
per_pos

82.42343541944075

In [10]:
emoji=emoji.sort_values('Occurrences',ascending=False)
print(emoji['positive_flag'].head(20).mean()*100)

90.0

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score,classification_report

In [12]:
X=emoji.drop('positive_flag',axis=1)
y=emoji['positive_flag']
print(X)
print(y)

     Occurrences  Position    Neg   Neut    Pos  Sentiment
0          14622     0.805  0.247  0.285  0.468      0.221
1           8050     0.747  0.044  0.166  0.790      0.746
2           7144     0.754  0.035  0.272  0.693      0.658
3           6359     0.765  0.052  0.219  0.729      0.677
4           5526     0.803  0.436  0.220  0.343     -0.093
..           ...       ...    ...    ...    ...        ...
724            5     0.574  0.125  0.375  0.500      0.375
723            5     0.510  0.125  0.625  0.250      0.125
722            5     0.786  0.125  0.250  0.625      0.500
721            5     0.853  0.125  0.750  0.125      0.000
750            5     0.458  0.125  0.750  0.125      0.000

[751 rows x 6 columns]
0       True
1       True
2       True
3       True
4      False
       ...
724     True
723     True
722     True
721    False
750    False
Name: positive_flag, Length: 751, dtype: bool

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=42)
print(X_train,X_test,y_train,y_test)

     Occurrences  Position    Neg   Neut    Pos  Sentiment
93           295     0.807  0.299  0.262  0.440      0.141
432           23     0.585  0.346  0.269  0.385      0.039
367           34     0.623  0.108  0.432  0.459      0.351
487           17     0.870  0.050  0.550  0.400      0.350
284           57     0.633  0.167  0.367  0.467      0.300
..           ...       ...    ...    ...    ...        ...
71           410     0.759  0.228  0.482  0.291      0.063
105          270     0.883  0.553  0.282  0.165     -0.388
270           62     0.638  0.138  0.492  0.369      0.231
430           23     0.584  0.231  0.269  0.500      0.269
102          274     0.801  0.029  0.625  0.347      0.318

[450 rows x 6 columns]      Occurrences  Position    Neg   Neut    Pos  Sentiment
472           19     0.780  0.364  0.227  0.409      0.045
357           36     0.047  0.026  0.692  0.282      0.256
133          191     0.760  0.144  0.402  0.454      0.310
250           72     0.846  0.333  0.413  0.253     -0.080
299           51     0.673  0.074  0.444  0.481      0.407
..           ...       ...    ...    ...    ...        ...
727            5     0.771  0.375  0.375  0.250     -0.125
398           28     0.678  0.097  0.419  0.484      0.387
615            9     0.657  0.250  0.417  0.333      0.083
203           99     0.683  0.176  0.314  0.510      0.334
588           11     0.837  0.071  0.357  0.571      0.500

[301 rows x 6 columns] 93      True
432     True
367     True
487     True
284     True
       ...
71      True
105    False
270     True
430     True
102     True
Name: positive_flag, Length: 450, dtype: bool 472     True
357     True
133     True
250    False
299     True
       ...
727    False
398     True
615     True
203     True
588     True
Name: positive_flag, Length: 301, dtype: bool

In [14]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [15]:
print(pred)

[ True  True  True False  True  True  True  True False  True False  True
  True  True  True  True False False  True  True  True  True  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True False False  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True False  True  True  True  True  True  True False  True  True
  True  True  True  True  True  True  True False  True  True  True  True
  True  True False  True  True  True  True False  True  True  True  True
  True  True False  True  True  True  True False  True  True  True False
  True  True  True  True  True  True False False  True  True  True  True
  True  True  True  True False  True  True  True  True  True  True False
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False False
  True  True  True  True  True  True  True  True  True False  True  True
 False  True  True  True  True  True  True False  True  True  True  True
  True  True  True  True  True  True False False  True  True  True  True
  True  True False  True  True  True  True  True False False  True  True
 False  True  True  True False  True False  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
 False False False  True  True  True False False  True  True False  True
  True False  True  True  True  True  True  True False  True False  True
  True  True  True  True  True  True  True  True  True False  True  True
  True  True  True  True  True  True False  True False  True  True  True
  True]

In [17]:
confusion_matix=confusion_matrix(y_test,pred)
accuracy=accuracy_score(y_test,pred)
precision=precision_score(y_test,pred)
recall=recall_score(y_test,pred)
f1=f1_score(y_test,pred)
classification=classification_report(y_test,pred)

In [20]:
print("confusion matrix:\n\n",confusion_matix)
print("\nThe acuuracy score:",accuracy)
print("\nThe precision score:",precision)
print("\nThe recall score:",recall)
print("\nThe f1 score:",f1)
print("\nThe classification report:\n",classification)

confusion matrix:

 [[ 45   0]
 [  3 253]]

The acuuracy score: 0.9900332225913622

The precision score: 1.0

The recall score: 0.98828125

The f1 score: 0.9941060903732809

The classification report:
               precision    recall  f1-score   support

       False       0.94      1.00      0.97        45
        True       1.00      0.99      0.99       256

    accuracy                           0.99       301
   macro avg       0.97      0.99      0.98       301
weighted avg       0.99      0.99      0.99       301